<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<body>
    {% block content %}
    <div id="js-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style="margin-right: 4px;">ShopNow!</strong> Welcome to shopnow. Browse through your favorite products.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container col-md-4 mt-3">
        <div class="input-group">
            <form method="GET" action="{% url 'get_searched_product' %}" class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search a Product..." aria-label="Search">
                <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if not product.imageURL%}
                    <img src="{% static 'images/placeholder.png' %}" alt="image not avalable">
                    {% else %}
                    <img src="{{product.imageURL}}" alt="">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{product.name}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button data-product="{{product.id}}" data-action="add" type="button" class="btn btn-sm btn-outline-secondary js-add-to-cart" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Cart">
                                    <i class="bi bi-bag-check"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary js-add-to-cart" data-bs-toggle="tooltip" data-bs-placement="top" title="view product">
                                    <i class="bi bi-binoculars-fill"></i>
                                </button>
                            </div>
                            <small class="text-muted">${{product.price}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/search.js' %}"></script>
    {% endblock content %}
</body>

</html>